<h4 class="font"> Something about me </h4>

<p>Nickname: <%= @user.nickname %></p>
<p>Quote: <%= @user.quote %></p>
<p>About_me: <%= @user.aboutme %></p>

<%= link_to "Back", "/", class:"btn btn-outline-success" %>

<span><%= link_to "Edit", "/users/edit_me", class:"btn btn-outline-warning" %></span>
  <span>
