<h4 class="font"> My books </h4>

<div class="card my-card" style="width: 30rem; border-color: #D2691E">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"></p>
      <p>Name: <%= @book.name %></p>
      <p>Author: <%= @book.author %></p>
      <p>Year: <%= @book.year %></p>
      <p>Genre: <%= @book.genre %></p>
      <p>Description: <%= @book.description %></p>

      <% if @book.favorite_books? %>
        <%= button_to 'Un Favorite', book_favorites_path(@book), method: :post, class:"btn btn-outline-danger" %>
    <% else %>
        <%= button_to 'Favorite', book_favorites_path(@book), method: :post, class:"btn btn-outline-danger" %>
    <% end %>

  </div>
</div>




<%= link_to "Back", books_path, class:"btn btn-success" %>

<span><%= link_to "Edit", "/books/#{@book.id}/edit", class:"btn btn-warning" %></span>
  <span>
